{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK Register with a GP surgery
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Service is currently unavailable
      </h1>

      <p>The 'Register with a GP surgery' service has been turned off.
      <p>

      <p>Try again later.
      </p>

        <h2>Other ways to register
          </h2>
      <p>
        Print and fill in a copy of the
          <a href="https://www.gov.uk/government/publications/gms1">GMS1 form</a>
        and return it to the surgery you want to register with.
      </p>

      <p>
        You can also get a copy of this form from any GP surgery.
          <a href="https://www.nhs.uk/service-search/find-a-gp">Find your nearest GP surgery.</a>
      </p>

    </div>

  </div>
{% endblock %}
